body {
  max-width: 320px;
  margin: auto;
  background-color: #120E0E;
}
header {
  color:antiquewhite;
}
img {
  display: block;
  max-width: 100%;
}

p {
  font-family: 'VT323', monospace;
}

.steph {
  background-color: bisque;
  border: #e28117 solid 5px;
 
}

.bertie {
  background-color: bisque;
  border: #008282 solid 5px;


}